.modal_background{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
    padding-top: 60px;
}

.modal {
    border-radius: 10px;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 40%;
    top: 20%;
    width: 300px; /* Full width */
    height: 300px; /* Full height */
    background-color: white; /* Black w/ opacity */
    padding-top: 30px;
}




.google_btn{
    background-color: #D84B37;
    border-color: #D84B37;
    margin-top: 10px;
}

.facebook_btn{
    background-color: #3B5998;
    border-color: #3B5998;
    margin-top: 10px;
}
